.contact__body {
  width: 100%;
  min-height: 100vh;
}

.contact__body__reach__infinityTextContainer {
  /* font-style: italic; */
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-highlight);
  /* border-bottom: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black); */
  /* opacity: 0; */
  z-index: 25;
}

.contact__body__reach__infinityText {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: var(--fw-light);
  padding-inline: 0.4rem;
  color: var(--color-black);
  display: flex;
  justify-content: center;
}

.contact__body__reach__infinityTextLogoSVG {
  display: inline-block;
  height: 2rem;
  width: calc(2rem / 600 * 759);
}

.contact__body__reach__infinityTextLogoSVGPath {
  fill: var(--color-black);
}

.contact__body__what__infinityTextContainer {
  /* font-style: italic; */
  position: relative;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-highlight);
  /* border-bottom: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black); */
  /* opacity: 0; */
  z-index: 25;
}

.contact__body__what__infinityText {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: var(--fw-light);
  padding-inline: 0.4rem;
  color: var(--color-black);
  display: flex;
  justify-content: center;
}

.contact__body__what__infinityTextLogoSVG {
  display: inline-block;
  height: 2rem;
  width: calc(2rem / 600 * 759);
}

.contact__body__what__infinityTextLogoSVGPath {
  fill: var(--color-black);
}

.contact__body__bodyContainer {
  width: 100%;
  /* padding-block: 50%; */
}

.contact__body__text {
  position: relative;
  margin-block-start: calc(15% - 2.5rem);
  color: var(--color-highlight);
  text-transform: uppercase;
  line-height: 1.1;
  padding-inline: 20px;
  padding-block-end: 15%;
  z-index: 1;
}

.contact__body__content {
  padding-block: 2rem 4rem;
}

.contact__body__intro {
  text-align: center;
  color: var(--color-body);
  font-size: var(--fs-p);
  max-width: 42rem;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-block-end: 2rem;
}

.contact__body__general {
  max-width: 900px;
  margin-inline: auto;
  padding: 3rem 2rem 4rem;
  text-align: center;
}

.contact__body__generalTitle {
  color: var(--color-highlight);
  text-transform: uppercase;
  margin-block-end: 1rem;
}

.contact__body__generalText {
  color: var(--color-body);
  font-size: var(--fs-p);
}

.contact__body__email {
  color: var(--color-primary);
  text-decoration: underline;
}
